.container {
    text-align: center;
}

.title {
    margin-top: 50px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset__btn {
    width: 250px;
    height: 100px;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 26px;
    color: #26ffcb;
    margin-top: 25px;
    margin-bottom: 50px;
    text-transform: capitalize;
    background-color: #1f3540;
    font-family: 800;
}

.board {
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background: #1f3540;
    border: 1px solid rgb(7, 143, 211);
    cursor: pointer;
    border-radius: 0.5rem;
}


.circle {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 15px solid rgb(7, 143, 211);
}

.cross {
    width: 90px;
    height: 90px;
    position: relative;
    transform: rotate(45deg);
}

.cross::before,
.cross::after {
    content: "";
    position: absolute;
    background-color: rgb(240, 15, 15);

}

.cross::before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;

}

.cross::after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    margin-left: -50%;
    width: 100%;

}